.SearchResults {
  max-width: 600px;
  margin: 24px auto;
}

.SearchResults__item {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #ececec;
  border-radius: 2px;
}
