.RepoDetailItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 8px;
}

.RepoDetailItem__title {
  font-weight: 700;
}

.RepoDetailItem__value {
  margin-left: 24px;
}
