.SavedRepos {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 24px auto;
}

.SavedRepos__container {
  max-width: 600px;
  margin: 24px auto;
  border-bottom: 1px solid #ececec;
}
