/* .Search {
} */

.Search__form {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.Search__input {
  min-width: 288px;
  padding: 8px;
  border: 1px solid #f3f3f3;
  border-radius: 2px;
  color: #333;
  font-size: 16px;
  outline-color: #333;
  outline-width: 1px;
}

.Search__button {
  margin-left: 4px;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  cursor: pointer;
}

.Search__loading {
  margin-top: 32px;
}
