.RepoDetail {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-x: hidden;
  overflow-y: auto;
}

.RepoDetail__container {
  background-color: #fff;
  padding: 24px;
  width: 320px;
  border-radius: 6px;
}

.RepoDetail__header {
  display: flex;
}

.RepoDetail__image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ececec;
}

.RepoDetail__info {
  margin-left: 24px;
}

.RepoDetail__name {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 700;
}

.RepoDetail__content {
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #ececec;
}

.RepoDetail__item {
  max-width: 160px;
  margin-top: 8px;
}
